#include <windows.h>

1 VERSIONINFO
 FILEVERSION 1,0,2,0
 PRODUCTVERSION 1,0,2,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Argonaut Software Ltd.\0"
            VALUE "FileDescription", "SHAPED for Windows\0"
            VALUE "FileVersion", "1.0.2.0\0"
            VALUE "InternalName", "WinShaped\0"
            VALUE "LegalCopyright", "(c)1991-92 Argonaut Software Ltd, (c) 2026 kandowontu/Sunlit\0"
            VALUE "OriginalFilename", "WinShaped.exe\0"
            VALUE "ProductName", "WinShaped\0"
            VALUE "ProductVersion", "1.0.2\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

2 ICON icon.ico